body {
  margin: 0 auto;
  font-family: 'Saira Extra Condensed', sans-serif;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 40%;
  width: 90%;
  margin: 100px 75px;
}

header {
  background-color: rgb(0,0,0);
  color: white;
  text-align: center;
  font-size: 3em;
}

#basics {
  flex-basis: 20%;
  margin: 10px 20px;
}

.picture {
  flex-basis: 15%;
  margin: 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 150px;
  width: 200px;
  height: 200px;
}

#theStory {
  flex-basis: 30%;
  margin: 10px 20px;
  border-left-style: dotted;
  border-left-width: 4px;
  padding-left: 10px;
}
